<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="wrap-input100 rs1 validate-input" data-validate = "Username is required">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input100" %>
    <%= f.label :email, class: "label-input100" %>
  </div>
  <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
    <%= f.password_field :password, autocomplete: "current-password", class: "input100" %>
    <%= f.label :password, class: "label-input100" %><br />
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <!-- <div class="actions"> -->
  <div class="container-login100-form-btn">
    <%= f.submit "Log in", class: "login100-form-btn" %>
  </div>
<% end %>
<div class="text-center w-full p-t-23">
  <a href="#" class="txt1">
    <!-- Forgot password? -->
    <%= render "devise/shared/links" %>
  </a>
</div>


  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-b-160 p-t-50">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-43">
            Account Login
          </span>
        </form>
      </div>
    </div>
  </div>
  